<!DOCTYPE HTML>
<html>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<style>

.list-icon
{
  float: right;
  vertical-align: middle;
}

.pipevis_container
{
  margin-top: 25px;
  margin-bottom: 25px;
}

.list-success
{
  color: green;
}
.list-failed
{
  color: red;
}

.pipevis_footer
{
  padding-top: 35px;
  padding-bottom: 35px;
}

.pipeline_state
{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.pipeline_state h1.failed
{
  color: red;
}
.pipeline_state h1.working
{
  color: blue;
}
.pipeline_state h1.success
{
  color: green;
}

.pipeline_section
{
  width:100%;
  text-align:center;
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

</style>

<body>

<div class="pipevis_container" ng-app="pipevis" ng-controller="pipelineCtrl">


    <div class="pipeline_section">
      <img ng-src="{{ pipeline.image }}"/>
    </div>

    <div class="container">

  <div class="row">
      <div class="col-lg-8">
          <div class="row">
                    <div class="page-header">
                      <h1>{{ pipeline.title }} <small>{{ pipeline.description }}</small></h1>
                    </div>
          </div>

          <div class "row">
            <div class="col-lg-12">
              <div class="pipeline_state">
                <h1 ng-if="pipeline.state == 'failed'" class="failed">failed</h1>
                <h1 ng-if="pipeline.state == 'working'" class="working">working</h1>
                <h1 ng-if="pipeline.state == 'success'" class="success">success</h1>
              </div>
            </div>
          </div>



          <div class="row">

            <div class="col-lg-{{ calc_col(pipeline.stages.length) }}" ng-repeat="stage in pipeline.stages | orderBy:'order'">
                    <ul class="list-group">

                      <li ng-if="stage.state == 'working'" class="list-group-item active"><h4 class="list-group-item-heading">{{ stage.title }}</h4></li>
                      <li ng-if="stage.state == 'pending'" class="list-group-item disabled"><h4 class="list-group-item-heading">{{ stage.title }}</h4></li>
                      <li ng-if="stage.state == 'failed'" class="list-group-item list-group-item-danger"><h4 class="list-group-item-heading">{{ stage.title }}</h4></li>
                      <li ng-if="stage.state == 'success'" class="list-group-item list-group-item-success"><h4 class="list-group-item-heading">{{ stage.title }}</h4></li>

                      <li class="list-group-item" ng-repeat="task in stage.tasks | orderBy: 'order'">
                        <ul class="list-inline">
                          {{ task.title }}

                          <li ng-if="task.state == 'success'" class="fa fa-check list-icon list-success"/>
                          <li ng-click="bool=true" ng-if="task.state == 'working'" class="fa fa-cog fa-spin list-icon"/>
                          <li ng-if="task.state == 'failed'" class="fa fa-times list-icon list-failed"/>

                        </ul>
                      </li>
                    </ul>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12">
            <div class="progress">

              <div ng-if="pipeline.state == 'working'" class="progress-bar progress-bar-striped active" role="progressbar"
              aria-valuenow="{{ pipeline.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ pipeline.progress }}%">{{ pipeline.progress }}%</div>
              <div ng-if="pipeline.state == 'success'" class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar"
              aria-valuenow="{{ pipeline.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ pipeline.progress }}%">{{ pipeline.progress }}%</div>
              <div ng-if="pipeline.state == 'failed'" class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar"
              aria-valuenow="{{ pipeline.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ pipeline.progress }}%">{{ pipeline.progress }}%</div>

            </div>
          </div>

          </div>
      </div>

      <div class="col-lg-4">

        <div class="row">
          <div ng-repeat="notification in pipeline.notifications | orderBy:'-order'" notification="notification">
          </div>
        </div>
      </div>

  </div>

</div>

<div class="pipeline_section pipevis_footer">
  <img src="https://raw.githubusercontent.com/pgstenberg/pipevis/master/images/logo_giphy.png"/>
</div>

<script>

var app = angular.module('pipevis', []);

app.controller('pipelineCtrl', function($scope, $http, $interval, $sce) {

  $scope.calc_col = function(num_stages){
    if(12 / num_stages > 3){
      return Math.ceil(12 / num_stages);
    }else{
      return 3;
    }
  }

  var successCallback = function(data) {
    $scope.pipeline = data;
    $scope.pipeline.progress = Math.ceil($scope.pipeline.progress)
  };


  $http.get('pipeline.json').success(successCallback).error(function() {
    $interval(function() { $http.get('/pipeline/get').success(successCallback); }, 1000);
  });

});


app.directive('notification', function ($compile,$sce) {
  return {
    restrict: 'A',
    replace: true,
    link: function (scope, ele, attrs) {

      scope.$watch(attrs.notification, function(notification) {

        var alertBox = "<div class='alert alert-info' role='alert'>"

        if(notification['type'] != undefined){
          if(notification['type'] == 'WARNING'){
            alertBox = "<div class='alert alert-danger' role='alert'>"
          }else if(notification['type'] == 'ARTIFACT'){
            alertBox = "<div class='alert alert-success' role='alert'>"
          }
        }

        for (var linkKey in notification.links) {
          notification.message = notification.message.replace("{{ " + linkKey + " }}", "<a href='" + notification.links[linkKey]['url'] + "' class='alert-link'>" + notification.links[linkKey]['text'] + "</a>");
        }

        var return_html = alertBox;
        if(notification.title != undefined){
          return_html = return_html + "<strong>" + notification.title + "</strong> ";
        }
        return_html = return_html + notification.message + "</div>";



        ele.html(return_html);
        $compile(ele.contents())(scope);
      });
    }
  };
});

</script>

</body>
</html>
