.list-icon
{
  float: right;
  vertical-align: middle;
}

.pipevis_container
{
  margin-top: 25px;
  margin-bottom: 25px;
}

.list-success
{
  color: green;
}
.list-failed
{
  color: red;
}

.pipevis_footer
{
  padding-top: 35px;
  padding-bottom: 35px;
}

.pipeline_state
{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.pipeline_state h1.failed
{
  color: red;
}
.pipeline_state h1.working
{
  color: blue;
}
.pipeline_state h1.success
{
  color: green;
}

.pipeline_section
{
  width:100%;
  text-align:center;
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
